.sidebar{
    flex: 1;
    border-right:0.5px solid rgb(231, 228, 228);
    min-height: 100vh;

    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            font-size: 25px;
            color: #6439ff;
            font-weight: bold;
        }

    }
    
    hr{
        height: 0;
        border: 0.5px solid rgb(230, 227, 227);
    }
    
    .center{
       
         
        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            li{ 
  
            &:hover {
                background-color: #ece8ff;
              }
      
              .icon {
                font-size: 26px;
                color: #7451f8;
                margin-bottom: -8px;
              }
      
              span{
                  font-size: 14px;
                  font-weight: 600;
                  color: #888;
                  margin-left: 10px;
                  margin-top: 5px;
              }
              a{
                text-decoration: none;
                display: flex;
                padding: 8px;
                align-items: center;
                cursor: pointer;
              }
            }
        }
    }
}